:root{
  --text-color: rgba(239, 232, 232, 0.799);
}



body {
  background: rgba(230, 242, 255, 0.135);
  min-height: 100vh;
}

.header{
  background: rgba(0, 0, 75, 0.686);

  padding:30px;


}
.wrapper{
  min-height: 100vh;
}
.project-name{
  font-size:2rem;
    color: var(--text-color);
}
.hours-display{
  color:var(--text-color);
}
 .alloc-hours{
  font-size:30px;
  color:rgb(38, 166, 38)
  
 }
 .divider{
  width:1px;
  background: rgba(255, 255, 255, 0.087);
  align-self: stretch;
 }
 .bad-hours{
  font-size:30px;
  color:rgb(249, 238, 140);

 }

 .table-box{
  min-height:50vh;
  padding:20px;
  margin: 1rem 1rem;
 }
 .empty-entry{
  display:flex;
  align-items: center;
  justify-content: center;
  height:20vh;
  color:rgba(17, 16, 16, 0.385);
 }
 .box-nav{
  
  padding:0 30px;


 }
 .box-title{
  font-style: italic;
  font-size: 1.6rem;

 }
 .entry-count{
  padding:10px;
  border-radius: 20px;
 }
 .entry-count strong{
  font-size: 21px;;
 }
 footer{
  height:90px;
  color:white;
  text-align:center;
  background: rgba(0, 0, 75, 0.686);
 }
 @media (max-width:768px) {

  .header{

  padding:10px;
}
.project-name{
  font-size:1.2rem;
}

 .alloc-hours{
  font-size:18px;
  color:rgb(38, 166, 38)
  
 }
 .divider{
  width:1px;
  background: rgba(255, 255, 255, 0.087);
  align-self: stretch;
 }
 .bad-hours{
  font-size:18px;
  color:rgb(249, 238, 140);

 }

 .table-box{
  min-height:350px;
 }
  
 }